@import url("lenis.css");
@import url("components/hero.css");
@import url("components/navbar.css");
@import url("components/projects.css");
@import url("components/work-exp.css");
@import url("components/contact.css");

@font-face {
  font-family: Humane;
  src:
    url("/assets/fonts/Humane/Humane-Bold.woff2") format("woff2"),
    url("/assets/fonts/Humane/Humane-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: Humane;
  src:
    url("/assets/fonts/Humane/Humane-Regular.woff2") format("woff2"),
    url("/assets/fonts/Humane/Humane-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

:root {
  --color-lighter-black: #252422;
  --bd-color-background-light: #f4f4f4;
  --bd-color-background-dark: #252422;
  --bd-color-background-pink: #f9cdcd;
  --bd-color-background-button-primary-base: #fff;
  --bd-color-background-button-primary-hover: #252422;
  --bd-color-background-button-primary-active: rgb(37 36 34 / 80%);
  --bd-color-background-button-primary-disabled: rgb(37 36 34 / 25%);
  --bd-color-background-button-secondary-base: #252422;
  --bd-color-background-button-secondary-hover: #fff;
  --bd-color-background-button-secondary-active: hsl(0deg 0% 100% / 80%);
  --bd-color-background-button-secondary-disabled: hsl(0deg 0% 100% / 25%);
  --bd-color-background-button-tertiary-base: #f9cdcd;
  --bd-color-background-button-tertiary-hover: #252422;
  --bd-color-background-button-tertiary-active: hsl(0deg 79% 89% / 80%);
  --bd-color-background-button-tertiary-disabled: hsl(0deg 79% 89% / 25%);
  --bd-color-background-footer-primary-light: #252422;
  --bd-color-background-footer-primary-dark: #f4f4f4;
  --bd-color-background-footer-secondary-light: #191918;
  --bd-color-background-footer-secondary-dark: #eaeaea;
  --bd-color-background-overlay-scrim: #252422;
  --bd-color-background-overlay-panel: #f4f4f4;
  --bd-color-background-overlay-cookies: #191918;
  --bd-color-background-overlay-contact: #f9cdcd;
  --bd-color-background-carousel-cursor: #f9cdcd;
  --bd-color-background-soundcloud-player-controls: #252422;
  --bd-color-background-soundcloud-player-close: #eaeaea;
  --bd-color-background-soundcloud-player-progressbar: #f9cdcd;
  --bd-color-background-spotify-player-embed: #000;
  --bd-color-base-cod-gray: #191918;
  --bd-color-base-tuatara: #252422;
  --bd-color-base-scorpion: #5e5e5e;
  --bd-color-base-gallery: #eaeaea;
  --bd-color-base-wild-sand: #f4f4f4;
  --bd-color-base-azalea: #f9cdcd;
  --bd-color-base-dodger-blue: #3a97f9;
  --bd-color-base-red-50: #f9cdcd;
  --bd-color-base-red-400: #d64121;
  --bd-color-base-blue-300: #3a97f9;
  --bd-color-base-green-400: #088843;
  --bd-color-base-grey-50: #f4f4f4;
  --bd-color-base-grey-100: #eaeaea;
  --bd-color-base-grey-400: #5e5e5e;
  --bd-color-base-grey-800: #252422;
  --bd-color-base-grey-900: #191918;
  --bd-color-base-white: #fff;
  --bd-color-base-black: #000;
  --bd-color-opaque-grey-800-high: rgb(37 36 34 / 80%);
  --bd-color-opaque-grey-800-low: rgb(37 36 34 / 25%);
  --bd-color-opaque-white-high: hsl(0deg 0% 100% / 80%);
  --bd-color-opaque-white-low: hsl(0deg 0% 100% / 25%);
  --bd-color-opaque-pink-high: hsl(0deg 79% 89% / 80%);
  --bd-color-opaque-pink-low: hsl(0deg 79% 89% / 25%);
  --bd-color-border-base: #252422;
  --bd-color-border-secondary: #fff;
  --bd-color-border-tertiary: #f9cdcd;
  --bd-color-brand-primary-black: #252422;
  --bd-color-brand-primary-pink: #f9cdcd;
  --bd-color-brand-primary-grey: #f4f4f4;
  --bd-color-brand-primary-white: #fff;
  --bd-color-brand-secondary-black: #000;
  --bd-color-brand-secondary-red: #d64121;
  --bd-color-brand-secondary-green: #088843;
  --bd-color-text-base: #252422;
  --bd-color-text-inverse-base: #fff;
  --bd-color-text-inverse-secondary: #f9cdcd;
  --bd-color-text-button-primary-base: #252422;
  --bd-color-text-button-primary-hover: #fff;
  --bd-color-text-button-primary-active: #fff;
  --bd-color-text-button-secondary-base: #fff;
  --bd-color-text-button-secondary-hover: #252422;
  --bd-color-text-button-secondary-active: #252422;
  --bd-color-text-button-tertiary-base: #252422;
  --bd-color-text-button-tertiary-hover: #f9cdcd;
  --bd-color-text-button-tertiary-active: #f9cdcd;
  --bd-color-text-footer-base: #f4f4f4;
  --bd-color-text-footer-inverse: #252422;
  --bd-color-text-footer-copyright: #5e5e5e;
  --bd-layout-grid-columns-small: 6;
  --bd-layout-grid-columns-large: 12;
  --bd-layout-z-index-z-neg-3: -300;
  --bd-layout-z-index-z-neg-2: -200;
  --bd-layout-z-index-z-neg-1: -100;
  --bd-layout-z-index-z-0: 0;
  --bd-layout-z-index-z-1: 100;
  --bd-layout-z-index-z-2: 200;
  --bd-layout-z-index-z-3: 300;
  --bd-layout-z-index-z-4: 400;
  --bd-layout-z-index-z-5: 500;
  --bd-layout-z-index-z-6: 600;
  --bd-layout-z-index-z-7: 700;
  --bd-layout-z-index-z-8: 800;
  --bd-layout-z-index-z-9: 900;
  --bd-layout-z-index-z-10: 1000;
  --bd-layout-z-index-bottom-panel: 700;
  --bd-layout-z-index-header: 800;
  --bd-layout-z-index-overlay: 900;
  --bd-layout-z-index-menu: 1000;
  --bd-size-font-xxs: 1.1rem;
  --bd-size-font-xs: 1.4rem;
  --bd-size-font-sm: 1.6rem;
  --bd-size-font-md: 1.8rem;
  --bd-size-font-lg: 2rem;
  --bd-size-font-xl: 2.2rem;
  --bd-size-font-xxl: 2.4rem;
  --bd-size-font-3xl: 2.8rem;
  --bd-size-font-4xl: 3.4rem;
  --bd-size-font-5xl: 3.8rem;
  --bd-size-font-6xl: 4rem;
  --bd-size-font-7xl: 4.2rem;
  --bd-size-font-8xl: 4.6rem;
  --bd-size-font-9xl: 6.25vw;
  --bd-size-line-height-base: 1.6rem;
  --bd-size-line-height-mobile-xs: 1.2rem;
  --bd-size-line-height-mobile-small: 1.6rem;
  --bd-size-line-height-mobile-medium: 2rem;
  --bd-size-line-height-mobile-large: 2.4rem;
  --bd-size-line-height-mobile-xl: 2.6rem;
  --bd-size-line-height-mobile-2xl: 2.8rem;
  --bd-size-line-height-mobile-3xl: 3.2rem;
  --bd-size-line-height-mobile-4xl: 3.6rem;
  --bd-size-line-height-desktop-xs: 1.2rem;
  --bd-size-line-height-desktop-small: 1.4rem;
  --bd-size-line-height-desktop-medium: 2rem;
  --bd-size-line-height-desktop-large: 2.4rem;
  --bd-size-line-height-desktop-xl: 3.2rem;
  --bd-size-line-height-desktop-2xl: 3.8rem;
  --bd-size-line-height-desktop-3xl: 4rem;
  --bd-size-line-height-desktop-4xl: 4.4rem;
  --bd-size-line-height-desktop-5xl: 5.2rem;
  --bd-size-line-height-desktop-6xl: 6rem;
  --bd-size-line-height-desktop-7xl: 6.8rem;
  --bd-size-line-height-desktop-8xl: 7.6rem;
  --bd-size-grid-gutter-mobile: 1.6rem;
  --bd-size-grid-gutter-desktop: 2rem;
  --bd-size-grid-padding-mobile: 5.4vw;
  --bd-size-grid-padding-desktop: 5rem;
  --bd-size-spacing-section-fixed-sm: 6rem;
  --bd-size-spacing-section-fixed-md: 8rem;
  --bd-size-spacing-section-fixed-lg: 14rem;
  --bd-size-spacing-section-variable-xs: 4.1vw;
  --bd-size-spacing-section-variable-sm: 7.8vw;
  --bd-size-spacing-section-variable-md: 10.4vw;
  --bd-size-spacing-section-variable-lg: 12.5vw;
  --bd-size-spacing-section-variable-xl: 18.2vw;
  --bd-size-spacing-section-intro-sm-mobile: 6rem;
  --bd-size-spacing-section-intro-sm-desktop: 4.1vw;
  --bd-size-spacing-section-intro-lg-mobile: 6rem;
  --bd-size-spacing-section-intro-lg-desktop: 7.8vw;
  --bd-size-spacing-section-page-mobile: 12.5vw;
  --bd-size-spacing-section-page-desktop: 12.5vw;
  --bd-size-spacing-section-casestudy-mobile: 14rem;
  --bd-size-spacing-section-casestudy-desktop: 18.2vw;
  --bd-size-spacing-section-service-mobile: 8rem;
  --bd-size-spacing-section-service-desktop: 10.4vw;
  --bd-size-spacing-section-industry-mobile: 8rem;
  --bd-size-spacing-section-industry-desktop: 10.4vw;
  --bd-size-spacing-section-blog-mobile: 10.4vw;
  --bd-size-spacing-section-blog-desktop: 10.4vw;
  --bd-size-spacing-section-thinking-mobile: 12.5vw;
  --bd-size-spacing-section-thinking-desktop: 12.5vw;
  --bd-size-spacing-metabar-mobile: 6rem;
  --bd-size-spacing-metabar-desktop: 8.5rem;
  --bd-time-delay-initial: 0.5s;
  --bd-time-delay-none: 0s;
  --bd-font-family-body: "Humane", "SctoGroteskA", sans-serif;
  --bd-font-weight-regular: 300;
  --bd-font-weight-medium: 400;
  --bd-font-weight-bold: 700;
  --bd-font-text-body-sm-mobile-font-size: 1.1rem;
  --bd-font-text-body-sm-desktop-font-size: 1.4rem;
  --bd-font-text-body-base-mobile-font-size: 1.4rem;
  --bd-font-text-body-base-desktop-font-size: 1.8rem;
  --bd-font-text-body-lg-mobile-font-size: 1.8rem;
  --bd-font-text-body-lg-desktop-font-size: 2.2rem;
  --bd-font-text-heading-xs-mobile-font-size: 1.6rem;
  --bd-font-text-heading-xs-desktop-font-size: 2.2rem;
  --bd-font-text-heading-sm-mobile-font-size: 1.8rem;
  --bd-font-text-heading-sm-desktop-font-size: 2.2rem;
  --bd-font-text-heading-md-mobile-font-size: 2rem;
  --bd-font-text-heading-md-desktop-font-size: 2.8rem;
  --bd-font-text-heading-lg-mobile-font-size: 2.2rem;
  --bd-font-text-heading-lg-desktop-font-size: 3.8rem;
  --bd-font-text-heading-xl-mobile-font-size: 2.4rem;
  --bd-font-text-heading-xl-desktop-font-size: 4.2rem;
  --bd-font-text-heading-xxl-mobile-font-size: 4rem;
  --bd-font-text-heading-xxl-portrait-font-size: 4.6rem;
  --bd-font-text-heading-xxl-desktop-font-size: 6.25vw;

  /* custom */
  --bd-size-grid-width: 100vw;
  --bd-size-grid-height: 100vh;
  --bd-size-padding-desktop: 1.75rem;
  --bd-size-padding-mobile: 1rem;
  --bd-size-height-navbar: 3.5rem;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  cursor: none; /* hide default cursor */
  margin: 0;
  font-family: var(--bd-font-family-body);
  line-height: 1.6;
  background-color: #f2f2f2;
  padding: 0;
  color: var(--color-lighter-black);
  position: relative;
}

section {
  position: relative;
}

.custom-cursor {
  position: fixed;
  top: 0;
  left: 0;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-color: var(--bd-color-background-pink);
  pointer-events: none;
  transform: translate(-50%, -50%);
  transition: all 0.1s ease;
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 10px;
  font-weight: bold;
  color: black;
}

.custom-cursor.hide {
  display: none;
}

.custom-cursor.cursor-panel {
  width: 128px;
  height: 128px;
  background: var(--bd-color-background-pink);
  opacity: 0.7;
  color: black;
  font-family: "Humane";
  font-size: 1.4rem;
  letter-spacing: 0.2;
}
.v-desktop {
  visibility: collapse;
  display: none;
}

@media screen and (max-width: 1024px) {
  .custom-cursor {
    display: none;
  }
}
@media screen and (min-width: 1025px) {
  .v-desktop {
    visibility: visible;
    display: contents;
  }
}

.btns {
  position: relative;
  display: inline-block;
  padding: 0.6rem 2rem;
  color: #000; /* initial text color */
  text-decoration: none;
  overflow: hidden;
  border: 2px solid #000;
  font-family: "Humane";
  border-radius: 14px;
  margin-top: 1.5rem;
  font-size: 3.2rem;
}

.btns span {
  position: relative;
  z-index: 1;
  transition: color 0.3s ease;
}

.btns::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: #000; /* black fill */
  transform: scaleY(0);
  transform-origin: bottom;
  transition: transform 0.3s ease;
  z-index: 0; /* behind text */
}

.btns:hover::before {
  transform: scaleY(1); /* fill from bottom to top */
}

.btns:hover span {
  color: #f9cdcdff;
}
