<div id="contact-section" class="h-screen overflow-hidden relative">
    <div class="contact-content px-8 sm:px-14 h-full">
        <div class="flex content-center flex-wrap h-full text-[40vw] sm:text-[10rem] md:text-[30vw] lg:text-[18vw] ">
            <div class="text-reveal">
                <p class="tr-1">LET&apos;S</p>
                <p class="tr-2">CONNECT</p>
            </div>
        </div>
    </div>
    <div id="footer"
        class="flex justify-between content-center absolute bottom-0 w-full text-xs md:text-[1.3rem] lg:text-[2rem] leading-normal">
        <p>‘2025 </p>
        <div class="links flex">
            <a href="mailto:welceyg@gmail.com" class="no-cursor hover-text"> <span class="text top">EMAIL</span>
                <span class="text bottom">EMAIL</span></a>
            &nbsp;/&nbsp;
            <a href="https://www.linkedin.com/in/mary-welcey-guillen/" target="_blank" rel="noopener noreferrer"
                class="no-cursor hover-text"> <span class="text top">LINKEDIN</span>
                <span class="text bottom">LINKEDIN</span></a>
            &nbsp;/&nbsp;
            <a href="https://github.com/welcey96" target="_blank" rel="noopener noreferrer"
                class="no-cursor hover-text"> <span class="text top">GITHUB</span>
                <span class="text bottom">GITHUB</span></a>
            &nbsp;/&nbsp;
            <a href="https://drive.google.com/file/d/1c1QViDuXdcYzUMHgZNXto26tHF1L8eZB/view?usp=sharing" target="_blank"
                rel="noopener noreferrer" class="no-cursor hover-text"><span class="text top">CV</span>
                <span class="text bottom">CV</span></a>
        </div>
        <div class="versions">
            <a href="https://welcey96.github.io/js-portfolio/" target="_blank" rel="noopener noreferrer"
                class="no-cursor">v1
            </a>
        </div>
    </div>
</div>