<section id="hero-section" class="pt-40">
   <div class="absolute bottom-0">
     <div class="text-reveal-container tracking-wide xl:text-[12rem] font-bold leading-[1.05] inline-block overflow-hidden ">
        <div class="text-reveal"> DEVELOPER <span class="text-pink-500">&nbsp;/&nbsp;</span></div>
    </div>
    <div class="text-reveal-container tracking-wide xl:text-[12rem] font-bold leading-[1.05] inline-block overflow-hidden ">
        <div class="text-reveal"> DESIGNER. </div>
    </div>
   </div>
</section>