<nav id="navbar" class="nav absolute top-0 left-7 right-7 h-14 z-[5] ">
    <div class="py-4 border-b border-black flex justify-between ">
        <div class="title xl:text-3xl ">
            Mary Welcey Guillen
        </div>
        <div class="menu xl:text-3xl">
            <ul>
                <li class="inline-block mr-2">works,</li>
                <li class="inline-block mr-2">about,</li>
                <li class="inline-block mr-2">experience, </li>
                <li class="inline-block mr-2">contact</li>
            </ul>
        </div>
    </div>
</nav>