<nav id="navbar" class="nav absolute top-0 left-4 right-4 sm:left-7 sm:right-7 h-14 z-[5] ">
    <div class="py-3 border-b border-black flex justify-between items-center">
        <div class="title text-3xl sm:text-5xl tracking-wide">
            <span>MARY GUILLEN</span>
        </div>
        <div class="menu text-3xl sm:text-5xl">
            <ul>
                <li class="inline-block mr-1 sm:mr-2"><a href="#profile-section">about,</a></li>
                <li class="inline-block mr-1 sm:mr-2"><a href="#">works,</a></li>
                <li class="inline-block mr-1 sm:mr-2"><a href="#">exp, </a></li>
                <li class="inline-block mr-1 sm:mr-2"><a href="#">contact</a></li>
            </ul>
        </div>
    </div>
</nav>