<section id="profile-section" class="h-screen px-4 sm:px-7">
    <div class="py-20 text-white flex flex-wrap gap-6 lg:flex-nowrap m-auto h-[100vh] w-full overflow-x-hidden">
        <div class="w-full lg:w-[60%] my-auto">
            <div
                class="text-reveal-container text-[7rem] sm:text-[10rem] md:text-[12rem] tracking-wide font-bold leading-[1.05] inline-block overflow-hidden ">
                <div class="text-reveal"> HI, I'M MARY <span class="text-white max-lg:hidden">&nbsp;/&nbsp;</span></div>
            </div>
            <div class="xl:text-3xl font-sans text-white">
                THIS PORTFOLIO EXISTS BECAUSE THAT'S RIGHT, I NEED A JOB 😉. I BECAME A DEVELOPER SIMPLY BECAUSE I LOVE
                IT. MY MOM WANTED
                ME TO BE AN ACCOUNTANT, MY DAD WANTED ME TO BE A DOCTOR… SO NATURALLY, I CHOSE CODE. HOW THAT HAPPENED?
                HONESTLY, I’M NOT EVEN SURE. <span class="v-desktop">ALSO, THE ROBOT ISN’T ME — </span>PLEASE CHECK MY <a href="https://www.linkedin.com/in/mary-welcey-guillen/" class="no-cursor text-[#f9cdcdff]">LINKEDIN</a>.
            </div>
        </div>
        <div id="scene-container" class="h-full my-5 flex-grow max-lg:flex-grow-0 max-lg:w-full"></div>
    </div>
</section>