<section id="profile-section" class="h-screen">
    <div class="py-20 text-white flex flex-wrap gap-6 lg:flex-nowrap m-auto h-[100vh] w-full overflow-x-hidden">
        <div class="w-full lg:w-[60%] my-auto">
            <div
                class="text-reveal-container text-[7rem] sm:text-[10rem] md:text-[12rem] tracking-wide font-bold leading-[1.05] inline-block overflow-hidden ">
                <div class="text-reveal"> HI, I'M MARY <span class="text-white max-lg:hidden">&nbsp;/&nbsp;</span></div>
            </div>
            <div class="xl:text-3xl font-sans text-[#f9cdcdff]">
                I STARTED DEVELOPING WEB PAGES FOR A SOCIAL MEDIA SITE CALLED FRIENDSTER—
                FOR THE MILLENNIALS, IT WAS LIKE MYSPACE, BUT FOR ASIANS.

                FAST FORWARD, I BECAME A DEVELOPER, AND FOR MORE THAN FIVE YEARS, I’VE BEEN DEVELOPING APPLICATIONS FOR
                VARIOUS INDUSTRIES. I’VE ALSO TAKEN ON FREELANCE PROJECTS, EXPANDING MY EXPERIENCE
                ACROSS DIFFERENT FIELDS.
            </div>
        </div>
        <div id="scene-container" class="h-full my-5 flex-grow max-lg:flex-grow-0 max-lg:w-full"></div>
    </div>
</section>