<section id="profile-section" class="h-screen">
    <div class="py-20 text-white flex flex-wrap max-w-[75vw] m-auto h-full">
        <div class="my-auto">
            <div class="text-reveal-container tracking-wide xl:text-[10rem] font-bold leading-[1.05] inline-block overflow-hidden ">
                <div class="text-reveal"> HI, I'M MARY <span class="text-pink-500">&nbsp;/&nbsp;</span></div>
            </div>
            <div class="xl:text-7xl">I AM A DEVELOPER FROM THE PHILIPPINES</div>
        </div>
        <div class="my-auto">
          <div class="xl:text-7xl">IMAGE</div>
        </div>
    </div>
</section>