<section id="projects-section">
    <div class="flex text-[6rem] sm:text-[8rem] md:text-[10rem] xl:text-[7rem] tracking-wide text-white px-8 sm:px-14">
        PROJECTS
        <div class="text-[#f9cdcdff] muted text-reveal">
            &nbsp;(ON THE SIDE)
        </div>
    </div>
    <div class="horizontal-wrapper text-white">
        <section class="panel rounded-xl">
            <a href="https://github.com/welcey96/Restaurant-Reservation-System" target="_blank"
                rel="noopener noreferrer">
                <img class="panel-img gif-preview" data-gif="/assets/1.gif" src="/assets/1.png" alt="Project 1">
                <div class="flex justify-between items-center">
                    <h2 class="tracking-wide">01</h2>
                    <h2 class="tracking-wide">JAVA + SPRINGBOOT + MYSQL</h2>
                </div>
            </a>
        </section>
        <section class="panel rounded-xl">
            <a href="https://github.com/welcey96/websockets-shoppingList" target="_blank" rel="noopener noreferrer">
                <img class="panel-img gif-preview" data-gif="/assets/2.gif" src="/assets/2.png" alt="Project 2">
                <div class="flex justify-between items-center">
                    <h2 class="tracking-wide">02</h2>
                    <h2 class="tracking-wide">ANGULAR + WEBSOCKETS</h2>
                </div>
            </a>
        </section>
        <section class="panel rounded-xl">
            <a href="https://github.com/welcey96/Poker-Game" target="_blank" rel="noopener noreferrer">
                <img class="panel-img rounded-xl gif-preview" data-gif="/assets/poker.gif" src="/assets/poker.png"
                    alt="Project 3">
                <div class="flex justify-between items-center">
                    <h2 class="tracking-wide">03</h2>
                    <h2 class="tracking-wide">C# + WINFORMS + OOP</h2>
                </div>
            </a>
        </section>
        <section class="panel rounded-xl ">
            <a href="https://github.com/welcey96/EmployeeManagementSystem" target="_blank" rel="noopener noreferrer">
                <img class="panel-img rounded-xl gif-preview" data-gif="/assets/5.gif" src="/assets/5.png"
                    alt="Project 4">
                <div class="flex justify-between items-center">
                    <h2 class="tracking-wide">04</h2>
                    <h2 class="tracking-wide">ANGULAR + .NET + SQL SERVER + SQL + KOTLIN</h2>
                </div>
            </a>
        </section>
        <section class="panel rounded-xl ">
            <a href="https://github.com/welcey96/playfirst-webApp" target="_blank" rel="noopener noreferrer">
                <img class="panel-img rounded-xl gif-preview" data-gif="/assets/4.gif" src="/assets/4.png"
                    alt="Project 5">
                <div class="flex justify-between items-center">
                    <h2 class="tracking-wide">05</h2>
                    <h2 class="tracking-wide">ANGULAR + BOOTSTRAP</h2>
                </div>
            </a>
        </section>
    </div>

    <div class="scroll-progress">
        <div class="scroll-progress-inner"></div>
    </div>
</section>