<section id="projects-section2">
    <div class="flex text-[6rem] sm:text-[8rem] md:text-[10rem] xl:text-[7rem] tracking-wide text-black px-8 sm:px-14">
        PROJECTS
        <div class="muted text-reveal text-black">
            &nbsp;(WHICH WERE PAID BTW)
        </div>
    </div>
    <div class="horizontal-wrapper2 text-white">
        <section class="panel2 rounded-xl">
            <div class="flex justify-between items-center text-white w-full">
                <h2 class="tracking-wide">01</h2>
                <h2 class="tracking-wide">ABA CMS</h2>
            </div>
            <a href="" target="_blank" rel="noopener noreferrer" class="no-cursor">
                <img class="panel-img" src="/assets/aba.png" alt="aba">
                <div class="flex justify-between items-center text-white">
                    <h2 class="tracking-wide">ANGULAR + EF CORE + C#</h2>
                </div>
            </a>
        </section>
        <section class="panel2 rounded-xl">
            <div class="flex justify-between items-center text-white w-full">
                <h2 class="tracking-wide">02</h2>
                <h2 class="tracking-wide">ABA TV</h2>
            </div>
            <a href="" target="_blank" rel="noopener noreferrer" class="no-cursor">
                <img class="panel-img" src="/assets/abatv.png" alt="abatv">
                <div class="flex justify-between items-center text-white">
                    <h2 class="tracking-wide">ANGULAR</h2>
                </div>
            </a>
        </section>
        <section class="panel2 rounded-xl">
            <div class="flex justify-between items-center text-white w-full">
                <h2 class="tracking-wide">03</h2>
                <h2 class="tracking-wide">3DX PLATFORM</h2>
            </div>
            <a href="" target="_blank" rel="noopener noreferrer" class="no-cursor">
                <img class="panel-img" src="/assets/3dx.png" alt="3dx">
                <div class="flex justify-between items-center text-white">
                    <h2 class="tracking-wide">ANGULAR + DEVEXTREME + BOOTSTRAP</h2>
                </div>

            </a>
        </section>
        <section class="panel2 rounded-xl">
            <div class="flex justify-between items-center text-white w-full">
                <h2 class="tracking-wide">04</h2>
                <h2 class="tracking-wide">DAVEBET</h2>
            </div>
            <a href="https://mybettingsites.com/au" target="_blank" rel="noopener noreferrer" class="no-cursor">
                <img class="panel-img" src="/assets/ddw.png" alt="davebet">
                <div class="flex justify-between items-center text-white">
                    <h2 class="tracking-wide">ANGULAR + TWITTER API + EF CORE</h2>
                </div>
            </a>
        </section>
    </div>
</section>