<section id="projects-section">
    <div class="flex text-[6rem] sm:text-[8rem] md:text-[10rem] xl:text-[7rem] tracking-wide text-white px-8 sm:px-14">
        PROJECTS
        <div class="text-[#f9cdcdff] muted text-reveal">
            &nbsp;(ON THE SIDE)
        </div>
    </div>
    <div class="horizontal-wrapper text-white">
        <section class="panel rounded-xl">
            <a href="https://github.com/welcey96/Restaurant-Reservation-System" target="_blank"
                rel="noopener noreferrer">
                <img class="panel-img" src="/assets/1.png" alt="Project 1">
                <div class="flex justify-between items-center">
                    <h2 class="tracking-wide">01</h2>
                    <h2 class="tracking-wide">JAVA + SPRINGBOOT + MYSQL</h2>
                </div>
            </a>
        </section>
        <section class="panel rounded-xl">
            <a href="https://github.com/welcey96/websockets-shoppingList" target="_blank" rel="noopener noreferrer">
                <img class="panel-img" src="/assets/2.png" alt="Project 2">
                <div class="flex justify-between items-center">
                    <h2 class="tracking-wide">02</h2>
                    <h2 class="tracking-wide">ANGULAR + WEBSOCKETS</h2>
                </div>
            </a>
        </section>
        <section class="panel rounded-xl">
            <a href="https://github.com/welcey96/playfirst-webApp" target="_blank" rel="noopener noreferrer">
                <img class="panel-img rounded-xl" src="/assets/3.png" alt="Project 2">
                <div class="flex justify-between items-center">
                    <h2 class="tracking-wide">03</h2>
                    <h2 class="tracking-wide">ANGULAR</h2>
                </div>
            </a>
        </section>
        <section class="panel rounded-xl">
            <a href="https://github.com/welcey96/playfirst-webApp" target="_blank" rel="noopener noreferrer">
                <img class="panel-img rounded-xl" src="/assets/3.png" alt="Project 2">
                <div class="flex justify-between items-center">
                    <h2 class="tracking-wide">04</h2>
                    <h2 class="tracking-wide">ANGULAR + .NET CORE WEB API + SQL SERVER</h2>
                </div>
            </a>
        </section>
    </div>

    <div class="scroll-progress">
        <div class="scroll-progress-inner"></div>
    </div>
</section>