<section id="exp-section">
    <div class="flex items-center px-8 sm:px-14 flex-wrap justify-between sm:justify-start">
        <div class="flex text-[6rem] sm:text-[8rem] md:text-[10rem] xl:text-[7rem] tracking-wide text-white">
            EXPERIENCE
        </div>
        <a href="https://drive.google.com/file/d/1c1QViDuXdcYzUMHgZNXto26tHF1L8eZB/view?usp=sharing" target="_blank"
            rel="noopener noreferrer" class="no-cursor btns tracking-wide sm:ml-[2rem]">
            <span>VIEW MY CV</span>
        </a>
    </div>
    <ul class="text-white px-8 sm:px-14">
        <li class="text-[5rem] flex justify-between flex-wrap">
            <div>front-end engineering intern</div>
            <div>GrowDoc AI</div>
            <div>May - June 2025</div>
        </li>
        <li class="text-[5rem] flex justify-between flex-wrap">
            <div>software engineer</div>
            <div>Pulsar Software Development</div>
            <div>2022 - July 2023</div>
        </li>
        <li class="text-[5rem] flex justify-between flex-wrap">
            <div>sr software engineer</div>
            <div>Ecostarlimited Inc.</div>
            <div>2020 - Aug 2022</div>
        </li>
        <li class="text-[5rem] flex justify-between flex-wrap">
            <div>jr software engineer</div>
            <div>Ecostarlimited Inc.</div>
            <div>2017 - July 2020</div>
        </li>
    </ul>
</section>