<section id="exp-section">
    <div class="flex text-[6rem] sm:text-[8rem] md:text-[10rem] xl:text-[7rem] tracking-wide text-white px-8 sm:px-14">
        EXPERIENCE
    </div>

    <ul class="text-white px-8 sm:px-14">
        <li class="text-[5rem] flex justify-between flex-wrap">
            <div>front-end engineering intern</div>
            <div>GrowDoc AI</div>
            <div>May - June 2025</div>
        </li>
           <li class="text-[5rem] flex justify-between flex-wrap">
            <div>software engineer</div>
            <div>Pulsar Software Development</div>
            <div>Sept 2022 - July 2023</div>
        </li>
          <li class="text-[5rem] flex justify-between flex-wrap">
            <div>senior software engineer</div>
            <div>Ecostarlimited Inc.</div>
            <div>2017 - Aug 2022</div>
        </li>
    </ul>
</section>