:root {
  --grid-width: var(--bd-size-grid-width);
  --grid-height: var(--bd-size-grid-height);
  --grid-padding: var(--bd-size-padding-mobile);
  --grid-column-count: var(--bd-layout-grid-columns-small);
  --grid-gutter: var(--bd-size-grid-gutter-mobile);
}

#hero-section {
  height: calc(var(--grid-height) - var(--bd-size-height-navbar));
}

.text-reveal-container {
  overflow: hidden;
  display: block;
}

.hero-intro {
  line-height: 0.76;
}

@media only screen and (min-width: 1280px) {
  :root {
    --grid-padding: var(--bd-size-padding-desktop);
    --grid-column-count: var(--bd-layout-grid-columns-large);
    --grid-gutter: var(--bd-size-grid-gutter-desktop);
  }
}

@media only screen and (max-width: 368px) {
}
