.horizontal-wrapper,
.horizontal-wrapper2 {
  display: flex;
  gap: 10rem;
  padding: 0 4rem;
  height: 80vh;
  perspective: 1000px;
  align-items: center;
}

.panel,
.panel2 {
  flex: 0 0 40vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: fit-content;
  padding: 1rem;
  background: #f2f2f2;
  color: black;
  border-radius: 1rem;
}

/* .panel:hover {
filter: grayscale(1) sepia(1) saturate(0.5) contrast(0.6) brightness(0.8);
  transform-origin: center center;
  transition: filter 0.3s ease-in-out;
} */

.panel-img {
  width: 100%;
  height: auto;
}

.panel h2,
.panel2 h2 {
  font-size: 2.3rem;
}

.scroll-progress {
  position: absolute;
  bottom: 1rem;
  left: 2rem;
  width: calc(100% - 4rem);
  height: 2px;
  background: #ffffff33;
  border-radius: 1px;
}

.scroll-progress-inner {
  width: 0%;
  height: 100%;
  background: #f9cdcd; /* progress color */
  border-radius: 2px;
  transform-origin: left center;
}

.underline {
  text-decoration: underline;
}

.muted {
  font-size: 3rem;
  transform: translate3d(0, 0, 0) rotate(-4.53333deg) scale(0.95);
}

#projects-section2 .text-reveal {
  color: #708090 !important;
}

@media screen and (max-width: 768px) {
  #projects-section,
  #projects-section2 {
    min-height: 100vh;
  }

  .horizontal-wrapper,
  .horizontal-wrapper2 {
    display: block;
    padding: 0 2rem;
    height: fit-content;
  }

  .panel,
  .panel2 {
    padding: 1rem;
    margin: 1rem 0;
  }
}

@media screen and (min-width: 769px) and (max-width: 1300px) {
  .horizontal-wrapper,
  .horizontal-wrapper2 {
    overflow: scroll;
  }
}
