{{page-title "Mary Welcey 🤟"}}
<Cursor />
<header>
    <Navbar />
</header>
<main>
    <Hero class="px-4 sm:px-7" />
    <Profile class="px-4 sm:px-7" />
    <Projects />
</main>
{{!-- <footer>
    <p>© 2025 Ember</p>
</footer> --}}